{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asstes/css/Nav_sidebar.Css' %}">
    <!-- <link rel="stylesheet" href="asstes/Css/Home.Css"> -->
    <script src="https://kit.fontawesome.com/7ee7d15580.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="side_bar">
        <div class="container clock_section">
            <img src="{% static 'asstes/img/avatar.jpg' %}" alt="" class="avatar">
            <div class="side-clock" id="clock">
                <i class="far fa-clock clock-icon"></i>
                <span id="hrs">00</span> : <span id="min">00</span> : <span id="sec">00</span>
                <span id="session"> AM</span>
            </div>
            
            <div class="check-in-out">

                    <p class="Title-data"><span><a href="{% url 'check_in' %}" class="btn btn-primary">Check In</a> : </span><br><span> <a href="{% url 'check_out' %}" class="btn btn-secondary">Check Out</a> : </span></p>


                    <p class="time-data"><span id="in-time" class="time">--:--:-- --</span> <br><span id="out-time" class="time">--:--:-- --</span></p>

            </div>
            <button id="Check-in" class="check-inout-btn Check-in">Check In</button>
            
        </div>


    <div class="container hero-section">
       <p style="color: red;"></p>
    </div>


    </div>
    <div id="loader-wrapper" class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script src="{% static 'asstes/js/Nav_sidebar.js' %}"></script>
    <!-- <script src="asstes/javaScript/Home.js"></script> -->
</body>
</html>