{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/Leaves.css' %}">
    <title>Leaves</title>
</head>

<body>
    <section class="hero">
        <div class="title-text">
            <h1>Leaves</h1>
        </div>
        <div class="container">
            <div class="apply-leave">
                <div class="heading">
                    <h2>Apply For Leave</h2>
                </div>

                <form action="" method class="input-section-container">
                    <div class="flexbox">
                        <h4 class="question_leave">Leave Subject</h4>
                        <input type="text" class="answer_leave">
                    </div>
                    <div class="flexbox">
                        <h4 class="question_leave">Leave Date</h4>
                        <input type="text" class="answer_leave">
                    </div>
                    <div class="flexbox  bigbox">
                        <h4 class="question_leave">Leave message</h4>
                        <textarea name="" id="message-leave" cols="40" class="answer_leave" rows="10" placeholder=""></textarea>
                    </div>
                    <div class="flexbox">
                        <h4 class="question_leave">Leave Type</h4>
                        <select name="" id="leave-type" class="option-leave">
                            <option value="leave-type" selected disabled hidden>Please Choose</option>
                            <option value="sick-leave">Sick Leave</option>
                            <option value="vacation-leave">Vacation</option>
                            <option value="Emergency-leave">Emergency</option>
                        </select>
                    </div>
                    <input type="submit" class="submit_btn" value="Submit" />
                </form>
            </div>
            <div class="leave-records">
                <div class="heading">
                    <h2>My Leaves</h2>
                </div>
                <div class="show-option">
                    <p>Show </p>
                    <select name="" id="numbers" class="number-of-item">
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    <p> Entities</p>
                </div>
                <div class="table-container">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th class="SN">SN</th>
                                <th class="subject">Subject</th>
                                <th class="Date_lv">Dates</th>
                                <th class="message_lv">Message</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for leave in leaves reversed %}
                            <tr>
                                <td>{{leave.id}}</td>
                                <td>{{leave.subject}}</td>
                                <!-- <td>{{leave.duration}}</td> -->
                                <td>{{leave.date}}</td>
                                <td>{{leave.message|truncatewords:20}}</td>
                                <td>{{leave.leave_type}}</td>
                                <td>{{leave.status}}</td>
                            </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                </div>
            </div>
        </div>
    </section>
</body>

</html>