{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/Leaves.css' %}">
    <title>Leaves</title>
</head>

<body>
    {% include 'Nav_Sidebar.html' %}
    <section class="hero">
        <div class="title-text">
            <h1>Leaves</h1>
        </div>
        <div class="container">
            <div class="apply-leave">
                <div class="heading">
                    <h2>Apply For Leave</h2>
                </div>

                <form action="" class="input-section-container">
                    <div class="flexbox">
                        <h4 class="question_leave">Leave Subject</h4>
                        <input type="text" class="answer_leave">
                    </div>
                    <div class="flexbox">
                        <h4 class="question_leave">Leave Date</h4>
                        <input type="text" class="answer_leave">
                    </div>
                    <div class="flexbox  bigbox">
                        <h4 class="question_leave">Leave message</h4>
                        <textarea name="" id="message-leave" cols="40" class="answer_leave" rows="10" placeholder=""></textarea>
                    </div>
                    <div class="flexbox">
                        <h4 class="question_leave">Leave Type</h4>
                        <select name="" id="leave-type" class="option-leave">
                            <option value="leave-type" selected disabled hidden>Please Choose</option>
                            <option value="sick-leave">Sick Leave</option>
                            <option value="vacation-leave">Vacation</option>
                            <option value="Emergency-leave">Emergency</option>
                        </select>
                    </div>
                    <input type="submit" class="submit_btn" value="Submit" />
                </form>
            </div>
        </div>
    </section>
</body>

</html>