<head>

</head>
  
  <body>
      <!-- HTML Content -->
      <tr>
        <th class="months">SALARY MONTHS</th>
        <th class="money">EARNINGS<i class="bi bi-cash list-icon"></i></th>
        <th class="money">DEDUCTIONS<i class="bi bi-cash list-icon"></i></th>
        <th class="money">NETSALARY   <i class="bi bi-cash-stack list-icon"></i></i></th>
        <th class="download">ACTIONS</th>
    </tr>

</thead>

<tbody>  
<tr>
    <tr><strong>
        <td>{{payroll.date}}</td>
        <td>{{payroll.basic_pay}}</td>
        <!-- <td>{{payrolls.overtime}}</td> -->
        <td>{{payroll.deductions}}</td>
        <td>{{payroll.net_pay}}</td>
      </strong>
    </tr>
</tr>
  
  </body>
  </html>